<html>
<center><h1>DreamTech</h1></center>
<center><h3> ~ The Sky Is Just The Beginning ~ </h3></center>
<br>
<br>
<body>
<h4>Your Newest Cannabis Plant(s)</h4>
    <br>
<h5>Selected Cannabis Species and Variety Name: "<%= @cannabis_plant.strain %>"</h5>
<h5>Number of Cannabis Seeds: <%= @cannabis_plant.number_of_cannabis_seeds %></h5>
<h5>Selected Soil Type: "<%= @cannabis_plant.soil_type %>"</h5>
<h5>Selected Nutrients: "<%= @cannabis_plant.nutrients %>"</h5>
</body>
<br>
<br>
<div>
<h4>Next Steps:</h4>
<br>
<p>To create your growing environment, simply <a href="/grow_rooms/new">click here to select the growing room</a> that you would like use to produce your cannabis!</p>
</div>
<br>
<div>
    <p>Would you like to plant more cannabis? <a href="/cannabis_plants/new">Click here to select the cannabis seeds</a> that you would like to grow!</p>
</div>
<br>
<div>
<p>To see your existing cannabis plant(s) and/or growing room(s), <a href="/users/<%=@cannabis_plant.user.id%>/garden">click here to view your cannabis production</a> with DreamTech!</p>
</div>
<br>
<br>
<div>
<p><a href="/cannabis_plants/<%=@cannabis_plant.id%>/edit">Edit My Cannabis Plant(s)</a></p>
</div>
<br>
<form method="POST" action="/cannabis_plants/<%=@cannabis_plant.id%>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Cannabis Plant(s)">
</form>
</html>