<html>
<center><h1>DreamTech</h1></center>
<center><h3> ~ The Sky Is Just The Beginning ~ </h3></center>
<br>
<body>
<h4>Your Newest Grow Room:</h4>
<br>
<h5>Grow Room Name: <%= @grow_room.name %></h5>
<h5>Selected Grow Room Light Source: <%= @grow_room.type_of_light %></h5>
<h5>Room Temperature: <%= @grow_room.room_temperature %> degrees Fahrenheit</h5>
<h5>Selected Soil Type: <%= @grow_room.relative_humidity %></h5>
</body>
<br>
<br>
<div>
<h4>Final Step:</h4>
<br>
 <p>To check on your cannabis plant(s) and growing room(s), simply <a href="/users/<%=@grow_room.user.id%>/garden">click here to view your cannabis production</a> with DreamTech!</p>
</div>
<br>
<div>
<p>Would you like to build another grow room? <a href="/grow_rooms/new">Click here to select the growing room</a> that you would like use to produce your cannabis!</p>
</div>
<br>
<br>
<div>
<p><a href="/grow_rooms/<%=@grow_room.id%>/edit">Edit My Grow Room</a></p>
</div>
<br>
<form method="POST" action="/grow_rooms/<%=@grow_room.id%>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Grow Room">
</form>
</html>