<h1>Crop Production Information for <%= @crop_production.name %>:</h1>
<h3>Farmer Name: <%= @crop_production.name %></h3>
<h3>Crop: <%= @crop_production.crop %></h3>
<h3>Location: <%= @crop_production.allocated_location %></h3>

<h2>Would you like to delete this post?</h2>
<form method="POST" action="/crop_productions/<%=@crop_production.id%>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>
